<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749526821743-vkls8eg8una1kep4cih2c182v7jjub1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749526821743-vkls8eg8una1kep4cih2c182v7jjub1c</string>
	<key>API_KEY</key>
	<string>AIzaSyA6wTtUaZe6cnK0f1Y9Qe-YGvPZZEbVoJw</string>
	<key>GCM_SENDER_ID</key>
	<string>749526821743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>qkdlqkdl44.my-community</string>
	<key>PROJECT_ID</key>
	<string>my-community-57b52</string>
	<key>STORAGE_BUCKET</key>
	<string>my-community-57b52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749526821743:ios:42d6a3bf2e64c49bebd69a</string>
</dict>
</plist>