<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragment/header :: header" />
<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">itemName</th>
        <th scope="col">detailPage</th>
        <th scope="col">image</th>
        <th scope="col">itemPrice</th>
        <th scope="col">itemStock</th>
        <th scope="col">itemStatus</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="item : ${pageItems}">

        <th scope="row"><span th:text="${item.itemName}"></span></th>
        <td><a th:href="'/item/'+${item.id}" th:text="${item.id}"></a></td>
        <td><img th:src="${item.getImages().get(0).getImageUrl()}" th:alt="${item.itemName}" width="100" height="100"></td>

<!--        <td scope="row"><span th:text="${item.imageUrl}"></span></td>-->
        <td scope="row"><span th:text="${item.itemPrice}"></span></td>
        <td scope="row"><span th:text="${item.itemStock}"></span></td>
        <td scope="row"><span th:text="${item.itemStatus}"></span></td>
    </tr>
    </tbody>

</table>
<div th:replace="fragment/footer :: footer" />
</body>

</html>